.place__title {
    /* max-width                : 100%;
    box-sizing               : border-box; */
    width             : 460px;
    margin            : 0;
    font-family       : Inter;
    font-style        : normal;
    font-weight       : 900;
    font-size         : 72px;
    line-height       : 76px;
    color             : #FFFFFF;
    margin-block-start: 0;
    margin-block-end  : 0;
}

@media screen and (max-width:1279px) {
    .place__title {
        /* max-width     : 100%;
        box-sizing    : border-box; */
        width      : 440px;
        font-size  : 72px;
        line-height: 76px;
    }
}

@media screen and (max-width:1023px) {
    .place__title {
        /* max-width     : 100%;
        box-sizing    : border-box; */
        width      : 340px;
        font-size     : 42px;
        line-height   : 46px;
    }
}

@media screen and (max-width:767px) {
    .place__title {
        /* max-width     : 100%;
        box-sizing    : border-box; */
        width      : 320px;
        font-size     : 32px;
        line-height   : 35px;
        padding       : 0 0 0 16px;
    }
}