.footer__menu {
    width          : 100%;
    display        : flex;
    justify-content: left;
    align-items    : center;
}

@media screen and (max-width: 767px) {
    .footer__menu {
        display: inline;
    }
}