.lead {
    max-width      : 984px;
    margin         : 56px auto 0;
    display        : flex;
    flex-direction : column;
    justify-content: top;
    align-items    : center;
}

@media screen and (max-width: 1280px) {
    .lead {
        max-width: 928px;
        margin   : 48px auto 0;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        width    : 100%;
        max-width: none;
        margin   : none;
    }
}