.cover__subtitle {
    display    : block;
    width      : 360px;
    margin     : 32px 0 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 22px;
    text-align : center;
    color      : #FFFFFF;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width        : 260px;
        margin       : 16px 0 0;
        margin-bottom: 0;
        margin-right : 0;
        font-size    : 14px;
        line-height  : 16px;
    }
}