.footer__link {
    margin         : 0 18px 0 0;
    font-family    : Inter, Arial, Helvetica, sans-serif;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 16px;
    line-height    : 18px;
    color          : #FFFFFF;
    text-decoration: none;
    transition     : opacity .5s;
}

.footer__link:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {

    .footer__link {
        font-size  : 24px;
        line-height: 24px;
        margin     : 32px 0 0;
    }
}