.lead__title {
    /* width: calc(100% - 132 px - 132px); */
    width: 720px;
    margin: 0;
    font-family: Inter;
    font-style : normal;
    font-weight: 900;
    font-size  : 96px;
    line-height: 100px;
    text-align: center;
    
}