.footer__copyright {
    display           : block;
    margin            : 0 0 0 auto;
    font-family       : Inter, Arial, Helvetica, sans-serif;
    font-style        : normal;
    font-weight       : normal;
    font-size         : 14px;
    line-height       : 16px;
    color             : #FFFFFF;
    margin-block-start: 0;
    margin-block-end  : 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        /* margin     : 0; */
        line-height: 14px;
        margin     : 48px 0 0;
    }
}