.intro__text {
    font-family       : Inter;
    font-style        : normal;
    font-weight       : normal;
    font-size         : 16px;
    line-height       : 163%;
    color             : #FFFFFF;
    margin-block-start: 0;
    margin-block-end  : 0;
    margin            : 40px 0 0;
}