.intro {
    max-width    : 690px;
    margin-top   : 92px;
    margin-right : auto;
    margin-bottom: 0;
    margin-left  : calc(50% - 984px / 2);
}

@media screen and (max-width: 1279px) {
    .intro {
        min-width: 690px;
        padding  : 0 28px 0;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        min-width: 720px;
        margin   : 88px auto 0;
        padding  : 0;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        min-width: 288px;
        margin   : 64px auto 0;
        padding  : 0 16px 0;
    }
}