.cover {
    max-width          : 1184px;
    min-height         : 740px;
    margin             : 12px auto 0;
    display            : flex;
    flex-direction     : column;
    justify-content    : top;
    align-items        : center;
    background-image   : url(../../images/cover-trains.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    text-decoration    : none;
    position           : relative;
    z-index            : 1;
}

.cover::after {
    content   : "";
    width     : 100%;
    height    : 100%;
    background: #2A2C2F;
    opacity   : 0.3;
    position  : absolute;
    top       : 0;
    left      : 0;
    z-index   : -1;
    transition: opacity .5s;
}

.cover:hover:after {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin    : 17px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
        margin    : 41px auto 0;
    }
}