.cover {
    width              : 1184px;
    height             : 740px;
    margin             : 0 auto 0;
    background-image   : url(../../images/cover-trains.jpg);
    background-size    : contain;
    position           : relative;
    background-repeat  : no-repeat;
    background-position: center;
}

.cover::after {
    content   : "";
    width     : 100%;
    height    : 100%;
    background: #2A2C2F;
    opacity   : 0.3;
    position  : absolute;
    top       : 0;
    left      : 0;
    z-index   : 1;
}

@media screen and (max-width: 1279px) {
    .cover {
        width     : 100%;
        max-height: 640px;
        
    }
}
@media screen and (max-width: 1023px) {
    .cover {
        width     : 100%;
        max-height: 480px;
        
    }
}

@media screen and (max-width: 767px) {
    .cover {
        width     : 100%;
        max-height: 200px;
        margin    : 16px auto 0;
    }
}