.cover__overlay {

    width     : 100%;
    height    : 100%;
    background: #2A2C2F;
    opacity   : 0;
    position  : absolute;
    top       : 0;
    left      : 0;
    z-index   : 2;
    transition: opacity 0.5s;
}

.cover__overlay:hover {
    opacity: 0.7;
}