.lead__caption {
    width         : 65%;
    margin        : 8px auto 0 0;
    font-family   : Inter;
    font-style    : normal;
    font-weight   : normal;
    font-size     : 10px;
    line-height   : 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color         : #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}