.lead__caption {
    margin            : 8px auto 0 0;
    padding           : 8px 0 0;
    font-family       : Inter, Arial, Helvetica, sans-serif;
    font-style        : normal;
    font-weight       : normal;
    font-size         : 10px;
    line-height       : 14px;
    letter-spacing    : 1.5px;
    text-transform    : uppercase;
    color             : #FFFFFF;
    margin-block-start: 0;
    margin-block-end  : 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        padding: 8px 0 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        padding-left: 16px;
    }
}