.place {
    margin               : 0 0 80px;
    display              : grid;
    grid-template-columns: auto 1fr;
    grid-template-rows   : 1fr auto;
    column-gap           : 40px;
    row-gap              : 48px;
}

@media screen and (max-width: 1279px) {
    .place {
        display              : grid;
        grid-template-columns: auto 1fr;
        grid-template-rows   : 1fr auto;
        column-gap           : 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        column-gap: 28px;
        margin    : 0 0 73px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        row-gap              : 32px;
        column-gap           : none;
        margin               : 0 0 50px;
    }
}