.footer {
    max-width      : 1184px;
    margin         : 92px auto 0;
    padding        : 0 0 25px 0;
    display        : flex;
    justify-content: left;
    align-items    : center;
    list-style     : none;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin   : 88px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width          : 304px;
        margin         : 64px auto 0;
        padding        : 0 0 24px 16px;
        display        : flex;
        flex-direction : column;
        justify-content: top;
        align-items    : flex-start;
    }
}