.place__website {
    max-width : 100%;
    box-sizing: border-box;
    margin    : 0;
    align-self: end;
}

@media screen and (max-width:767px) {
    .place__website {
        padding: 0 16px;
    }
}