.intro__title {
    font-family       : 'Inter', Arial, Helvetica, sans-serif;
    font-style        : normal;
    font-weight       : 900;
    font-size         : 54px;
    line-height       : 58px;
    margin-block-start: 0;
    margin-block-end  : 0;
    margin            : 0;
}

@media screen and (max-width: 767px) {
    .intro__title {
        width      : 240px;
        font-size  : 32px;
        line-height: 35px;
    }
}